body {
  font-family: $mijnFont;
}
.logo {
  background-color: $secundaire-kleur;
  display: inline-block;
  font-size: 1.5em;
  padding: 1.5em;
  color: darken($secundaire-kleur, $amount: 30);
}
main {
  padding: 0.2em;
}
section {
  color: $secundaire-kleur-donker;
  h2 {
    font-size: 2em;
    padding: 1em;
    text-align: center;
  }
}
