@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
$hoofdkleur: #2859bc;
$secundaire-kleur-donker: #48592d;
$secundaire-kleur: #81d742;
$hoofdkleur-lichter: #4f82ff;
$contrast-kleur: #ff652a;
$achtergrond-donkerder: #cccccc;

$mijnFont: "Montserrat", sans-serif;
